{% extends 'base.html.twig' %}
{% block body %}
<section class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <p class="title">
                Ресурс не найден
            </p>
        </div>
    </div>
</section>
{% endblock %}
