{% extends 'base.html.twig' %}
{% block body %}
<main>
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    УЕБ проектирование
                </h1>
                <h2 class="subtitle">
                    Все начинается с компьютерного практикума.
                </h2>
            </div>
        </div>
    </section>

    {% if user %}
        <section class="section">
            <div class="container">
                <form class="app-create-theme" action="{{ route('theme_create') }}" method="post">
                    <div class="field">
                        <label for="theme-name" class="label">
                            Le nom du thème
                        </label>
                        <input id="theme-name" type="text" name="theme-name" class="input">
                    </div>
                    <div class="field">
                        <label for="theme-slug" class="label">
                            La limace du thème
                        </label>
                        <input id="theme-slug" type="text" name="theme-slug" class="input">
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success" type="submit">
                                Créer le thème
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    {% endif %}

    <div class="app-theme-template" style="display: none">
        {% include 'theme/theme.html.twig' %}
    </div>

    <section class="section">
        <div class="container app-themes">
            {% for theme in theme_list %}
                {% include 'theme/theme.html.twig' %}
            {% endfor %}
        </div>
    </section>

</main>
{% endblock %}
