{% extends 'base.html.twig' %}
{% block body %}
<main>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                        <form action="" method="post">
                            <div class="field">
                                <div class="control">
                                    <label class="label" for="password">
                                        Mot de passe
                                    </label>
                                    <input id="password" class="input" name="password" type="password" placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link">Entrer</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
